extends _common/_doctype

block title
	| webdev-space.com - блог веб-разработчика

block content
	.wrapper
		include ./_common/_header
			include ./_pages/_aboutme-content
	include ./_common/_footer
		
