@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/comfortaa-webfont.eot');
    src: url('../fonts/comfortaa-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-webfont.woff') format('woff'),
         url('../fonts/comfortaa-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaabold';
    src: url('../fonts/comfortaabold-webfont.eot');
    src: url('../fonts/comfortaabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaabold-webfont.woff2') format('woff2'),
         url('../fonts/comfortaabold-webfont.woff') format('woff'),
         url('../fonts/comfortaabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaalight';
    src: url('../fonts/comfortaalight-webfont.eot');
    src: url('../fonts/comfortaalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaalight-webfont.woff2') format('woff2'),
         url('../fonts/comfortaalight-webfont.woff') format('woff'),
         url('../fonts/comfortaalight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
